<!-- <router-outlet></router-outlet> -->
<button class="open-button" (click)="openForm()">Chat</button>

<div>
  <div class="signin-popup" id="signinForm">
    <div class="header">
      <h4>client support</h4>
    </div>
    <form #form="ngForm" class="form-container" (ngSubmit)="signUp()">
      <input
        type="text"
        [(ngModel)]="userName"
        name="userName"
        placeholder="please enter your name"
        required
      />
      <button class="btn btn-primary" name="submit" [disabled]="form.invalid">
        submit
      </button>
    </form>
  </div>

  <div class="chat-popup" id="myForm">
    <div class="header">
      <h4>client support</h4>
    </div>
    <form (ngSubmit)="sendingMessage()" class="form-container">
      <div id="screen" *ngFor="let messages of newmessage">
        <div
          *ngIf="
            message.user.id !== loggedinUser.me.id;
            then msg_cotainer;
            else msg_cotainer_send
          "
        ></div>
        <ng-template #msg_cotainer_send>
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
              {{ messages.user.id }}
              {{ messages.text }}
            </div>
            <div class="img_cont_msg"></div>
          </div>
        </ng-template>
        <ng-template #msg_cotainer>
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg"></div>
            <div class="msg_cotainer">
              {{ messages.user.id }}
              {{ messages.text }}
            </div>
          </div>
        </ng-template>
      </div>
      <textarea
        placeholder="Type message.."
        [(ngModel)]="message"
        name="message"
        required
      ></textarea>

      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" (click)="closeForm()">
        Close
      </button>
    </form>
  </div>
</div>
